<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/desktop.css">
    <title>{{title}}</title>
</head>

<body>
    <header>
        <div class="logo">
            <img id="logoimg" src="/img/FSlogo.png" alt="Logo">
            <h1>{{headerInfo}}</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Product Listing</a></li>
                <li><a href="/registration">Registration</a></li>
                <li><a href="/login">Log-In</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div id = "footContent">
            <a href="">About Us</a> | 
            <a href="">Jobs</a> | 
            <a href="">Terms of Service</a> |
            <a href=""> Help / FAQ </a> | 
            <a href="">Private Policy</a> |
        </div>
        <a href="https://twitter.com"> <img src="/img/smfooter1.png" width = 30px id = "footerimg" alt="Twitter"></a>
        <a href="https://instagram.com"> <img src="/img/smfooter2.png" width = 30px id = "footerimg" alt="Instagram"></a>
        <a href="https://facebook.com"> <img src="/img/smfooter3.png" width = 30px id = "footerimg" alt="Facebook"></a>
    </footer>
</body>
</html>