
<h2><p>{{success}}</p></h2>
<div class = "dashboard">
    
    <div class = "accHist">
        <h2>Order History</h2>
        
        <p>
            <b>No orders available.</b><br>
            Orders placed using Guest checkout are not displayed here
        </p>
    </div>

    <div class = "accInfo">
        <h2>Account Information:</h2>
        <p>
            <b>Name: </b> {{firstName}} {{lastName}}<br>
            <b>Email: </b> {{email}}<br>
            <b>Password: </b> ********<br>
            <b>Phone: </b>Not Specified <br>  
            <b>Language: </b>English <br>
            <button type = "button">Edit</button>
        </p>
    </div>
    
    <div class = "accRewards">
        <h2>Rewards</h2>
        <p>
            <b>Current Balance:</b> N/A <br>
            <button type = "button">Points History</button>
        </p>
    </div>
    
</div>
