<div class = "logForm">
    <h2>Sign-In</h2><br>
    <div id="loginErrors">

    </div>
    <form method = "POST" action="/login">

                    <div>
                        <label for="email">Email:</label><br>
                        <input type="text" name="email" value = {{email}}><br>
                        <p>{{emailErr}}</p><br><br>
                        
                    </div>
                    <div>
                        <label for="password">Password:</label><br>
                        <input type="password" name="password" id="password" placeholder="At least 8 characters"><br>
                        <p>{{passwordErr}}</p><br><br>
                        
                    </div>    
                    <input type = "submit" value = "Sign in!">                 

    </form>

    <p><a href="">Forgot password.</a></p>
    <p>New to Plum? <a href="/registration">Create an account!</a></p>
</div>